@keyframes load {
    from{transform: translateY(0);}
    to{transform: translateY(-20%);}
}

.dock{
    transition: all .5s ease;
    padding: 5px 8px 0;
    @apply .flex .mx-auto .relative
}
.dock ul{
    @apply .flex .mx-auto .list-reset
}

.dock-hide{
	transform: translateY(100px);
}

.dock::after{
	content: "";
	border-color: rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 70px rgba(0, 0, 0, 0.14);
    background: rgba(240,240,240,0.2);
	@apply .rounded-t .absolute .pin .border .border-b-0 .backdrop-blur-30 .h-28
}

.dock li{
    @apply .z-10 .relative
}
.dock .vr{
    background: rgba(50,50,50,0.8);
    @apply .relative .z-10 .block .w-px .mx-4 .my-2
}

.dock figure{
    @apply .relative
}
.dock figcaption{
    opacity: 0;
    top: -41px;
    @apply .block .absolute .py-1 .px-3 .rounded .mx-auto .text-center .bg-grey-lightest .text-black .shadow .font-hairline .text-xs .pointer-events-none
}
.dock figure img{
    @apply .block .w-24
}
.dock ul:first-child li.activate{
    animation: load .4s infinite alternate cubic-bezier(0,.5,.5,.5);
}
.dock ul:first-child li.active{
    transform: translateY(0);
}
.dock li.click img,.dock li.options img{
    filter: brightness(0.5);
}
.dock li::after{
    content: "";
    top: 5px;
    @apply .rounded .block .w-1 .h-1 .mx-auto .relative .z-10 .bg-grey-darkest .shadow-inner-sm .opacity-0
}

.dock li,.dock li::after,.dock figcaption,.dock .menu,.arrow{
    transition: all .3s ease-out;
}

.dock ul:first-child li.active::after,
.dock li.hover figcaption,
.dock li.hover figure .arrow,
.dock li.options .menu,
.dock li.options .arrow{
    @apply .opacity-100
}

.dock .menu{
    bottom: 127px;
    left: 30px;
    @apply .block .absolute .rounded .font-light .text-xs .bg-grey-lightest .pt-px .shadow-lg .opacity-0 .pointer-events-none
}
.dock li.options .menu{
    @apply .pointer-events-auto
}
.dock .menu p{
    cursor: default;
    white-space: nowrap;
    @apply .block .py-0.5 .px-4 .my-0.75
}
.dock .menu p.sub-menu{
    display: flex;
}
.dock .menu p.sub-menu::after{
    content: "";
    display: block;
    height: 0;
    width: 0;
    border-top: 5px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 9px solid #434343;
    margin-top: 2px;
    @apply .ml-3 .-mr-2
}
.dock .menu p.hover{
    @apply .bg-blue .text-white
}
.dock .menu p.hover.sub-menu::after{
    border-left-color: white;
}
.dock .menu p.disabled{
    @apply .text-grey-disabled
}
.dock .menu p.disabled.hover{
    @apply .bg-transparent .text-grey-disabled
}

.dock .menu hr{
    height: 2px;
    margin: 2px 0;
    @apply .block .bg-grey-light
}

.arrow{
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid rgb(240,240,240);
    top: -20px;
    @apply .block .w-0 .h-0 .absolute .mx-auto .pin-x .opacity-0
}