.top-menu{
    background: rgba(250,250,250,.7);
    border-color: rgba(0, 0, 0, 0.3);
    @apply .absolute .pin-x .pin-t .px-2.5 .backdrop-blur-30 .h-5 .shadow-lg .border-b .flex .justify-between .text-sm
}
.top-menu ul{
    @apply .list-reset .flex
}
.top-menu ul:first-child{
    @apply .justify-start
}
.top-menu ul:last-child{
    @apply .justify-end
}
.top-menu ul li{
    @apply .flex .px-2.5 .my-auto
}
.top-menu ul li img{
    @apply .block
    }
.top-menu ul:first-child li:first-child p{
    @apply .text-lg
}
.top-menu ul:first-child li:nth-child(2) p{
    @apply .font-semibold
}

#spotlight{
    height: 14.5px;
}
#siri{
    height: 16px;
}
#notifications{
    height: 10px;
}

.top-menu .hover{
    @apply .bg-blue
}
.top-menu .hover{
    @apply .text-white
}