nav ul.dock{
	transition: all .5s ease;
    padding: 5px 8px;
}

.dock-hide{
	transform: translateY(100px);
}

.dock::after{
	content: "";
	border-color: rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 70px rgba(0, 0, 0, 0.14);
    background: rgba(240,240,240,0.2);
	@apply .rounded-t .absolute .pin .border .border-b-0 .backdrop-blur-30
}

.dock figcaption{
    transition: all .3s ease-out;
    opacity: 0;
    top: -41px;
}

.dock .vr{
    background: rgba(50,50,50,0.8);
}

.dock li.hover figcaption,.dock li.hover figure .arrow{
    opacity: 1;
}
.dock li.click img{
    filter: brightness(0.5);
}
.dock li::after{
    content: "";
    top: 5px;
    transition: all .3s ease-out;
    @apply .rounded .block .w-1 .h-1 .mx-auto .relative .z-10 .bg-grey-darkest .shadow-inner-sm .opacity-0
}
.dock li.active::after{
    @apply .opacity-100
}

.dock li.options menu, .dock li.options .arrow{
    opacity: 1;
}

.dock menu{
    top: -53px;
    left: 30px;
    transition: all .3s ease-out;
}

.arrow{
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid rgb(240,240,240);
    top: -20px;
    transition: all .3s ease-out;
}

.bg-desktop{
	background: #919191 url("/img/High%20Sierra.jpg");
	@apply .bg-cover .bg-no-repeat .h-screen
}