

.Notes.window .mover.top-bar{
    background: linear-gradient(#F7F6F7,#EDEBED 1px,#D7D5D7 23px,#C7C5C7);
    border-bottom: 1px solid #B1AFB1;
    border-top-right-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
    @apply .block .h-6
}

.textfield{
    display: block;
    border: none;
    border-bottom-right-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
    height: 200px;
    width: 100%;
    resize: none;
    background: #FAFAF8;
}